# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDE files
.vscode/
.idea/

# Ignore logs and temp files
*.log
.DS_Store

# Player cache
cache/

client_id_cache.txt

config/token.txt
config/token.json